<body>
    <h1 class="mt-4">Dashboard</h1>
    <p class="lead mb-3">Welcome
        <%= name %>
    </p><br>

    <h1>You can now buy and sell your forklift </h1>
    <br>
    <ul>
        <a href="/admin/products" class="btn btn-primary"> Add New Products</a>
        <a href="/admin/categories/add-category" class="btn btn-primary">Add Catagories</a>
        <a href="/admin/brand" class="btn btn-primary">Brands</a>
        <a href="admin/type" class="btn btn-primary">Add Types</a>

    </ul>

    <hr>






    </html>